<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="../static/libs/angular/angular.js"></script>
		<script src="../static/libs/angular/angular-cookies.js"></script>
		<script src="../static/app.js"></script>
		<script src="../static/factory.js"></script>
		<script src="../static/controller.js"></script>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

		<title> Pomodoro App </title>
	
	</head>

	<body ng-app="pom" id="page-wrap">

		<h3> ToDoApp: Pomodoro Style</h3>
		
		<div ng-controller="ListCtrl" ng-init="initialize('Ready for action')">
			
			<form class="input-field col s6" id="todo-form" ng-submit="addItem()">
				<input id="new-todo-des" placeholder="Task Name" ng-model="currentItem.description" ng-disabled="saving" autofocus>
				<input id="new-todo-poms" placeholder="Number of Pomodoros" ng-model="currentItem.pomodoros" autofocus style="overflow: hidden; padding-right: .5em;">
				<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="addItem()" style="float: right"> Submit <i class="material-icons right"></i></button>
			</form>


			<ul id="todo_list">
				<li ng-repeat="item in items"> 
					<div id="todo-text">
						<table class="list-stuff-with-buttons">
							<tr>
								{[{ item.description}]}
								<td data-ng-hide="editMode"> {[{ item.description }]}</td>
								<td data-ng-hide="editMode"> Pomodoros: {[{ item.pomodoros }]}</td>
								<td><input type="text" data-ng-show="editMode" data-ng-model="item.description" data-ng-required /> </td>
								<td><input data-ng-show="editMode" data-ng-model="item.pomodoros" data-ng-required /></td>
								<td><button class="destroy" ng-click="removeItem(item)"> Delete </button></td>
							</tr>
						</table>
						
					</div>
					<div>
						<table class="editing_buttons">
							<tr>
								<td><button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editFields(item)" class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></button></td>
		          				
		          				<td><button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; saveField(item)" class="waves-effect waves-light btn">Save</button></td>
		         				
		         				<td><button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="waves-effect waves-light btn">Cancel</button></td>
		         			</tr>
			     		</table>
					</div>
				</li>	
			</ul>
			
		</div>


	</body>
</html>